.sidebar {
    background-color: var(--primary-color);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

.leftbar {
    grid-area: leftbar;
}

.rightbar {
    grid-area: rightbar;
}
